/*reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*Header*/
.header {
    width: 100%;
    height: calc(100% - 192px);
    height: 70px;
    padding: 80px 0px;
    background-image: url("assets/fondo-geek3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 1px 0 #11010140;
}

.header img, .footer img {
    width: 138px;
    height: 56px;
}

.header p {
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    font-weight: 400;
    color:#c9cc07
    
}

.header img, .footer img {
    width: 128px;
    height: 46px;
}

/*Main*/
.main {
    width: 100%;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

section {
    padding: 40px;
    gap: 40px;
}

/*Seccion Productos*/
.section__productos {
    width: 70vw;
    box-shadow: -12px 10px 6px 0 #470a7d40;
} 

h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.contenedor__productos {
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
    margin: 20px 0px;
    overflow: auto;
    max-height: 60vh;
}

.card {
    width: calc(105%/4 - 5px);
    padding: 15px;
    background-image: url("assets/fondo-geek3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -12px 10px 6px 0 #00000040;
}

.contenedor__productos__imagen img{
    width: 100%;
    height: 170px;
    border-radius: 6px;
    border: 5px solid #7c7e04
}

.contenedor__productos__nombre {
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.contenedor__productos__precio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.contenedor__productos__precio p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.boton__borrar {
    background: none;
    border: none;
    cursor: pointer;
}

.boton__borrar img {
    width: 18px;
    height: 18px;
}

/*Form*/
.section__formulario {
    width: 30vw;
}

.form__productos {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__productos input {
   width: 100%;
   max-width: 300px;
   height: 48px;
   margin: 10px 0;
   padding-left: 10px;
   border: 3px solid #036318;
   border-radius: 30px;
   font-family: "IBM Plex Mono", monospace;
   font-size: 16px;
   font-weight: 600; 
}

::placeholder {
    color: #94929b; 
}

.contenedor__boton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.contenedor__boton button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.boton__enviar {
    background-image: url("assets/fondo-geek2.jpg");
    color: #ffffff;
    border: none;
}

.boton__limpiar {
    background-color: #f8f3ff;
    color: #000000;
    border: 3px solid #036318;
}

/*Footer*/
.footer {
    width: 100%;
    padding: 25px;
    padding: 45px;
    height: 140px;
    background-image: url("assets/fondo-geek3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #c9cc07;
}

.footer div {
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 16px;
}

.footer span {
    font-weight: 800;
}

@media screen and (max-width: 1023px) {
    /*Main*/
    .main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 10px 0;
        gap: 12px;
    }

    section {
        padding: 10px;
    }

    /*Seccion Productos*/
    .section__productos {
        width: 100vw;
        box-shadow: 0 8px 4px 0 #00000040;
    }

    .contenedor__productos {
        display: flex;
        justify-content: space-around;
        gap: 25px;
    }

    .card {
        width: calc(100%/2 - 20px);
        height: 258px;
        padding: 5px;
    }

    /*Form*/
    .section__formulario {
        width: 80vw;
        margin: 0 auto;
    }
}